*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // because body already set to border-box
}

html {
  // defines what 1rem is
  font-size: 62.5%; // 1rem = 10px ==> 10px is 62.5% of 16px

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px ==> 9px is 56.25% of 16px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px ==> 8px is 50% of 16px
  }

  // @include respond(phone) {
  //   font-size: 30%;
  // }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px ==> 12px is 75% of 16px
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
